body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.taskcontainer{
    display: flex;
}
.taskdeleteBtn{
    background-color: red;
     height: 1.5rem;
     
    color:black;
}
.taskupdateBtn{
    background-color: green;
    height: 1.5rem;
    
}
.taskContainer{
    border: 2px solid black;
    width: 50vw;
     margin: 0 25vw;
}